<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tienlv.log_android" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".screens.home.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".log.service.MyService" />

        <receiver android:name=".log.receiver.StartupReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETE" />
                <action android:name="StartupReceiver_Manual_Start" />
            </intent-filter>
        </receiver>
        <receiver android:name=".log.receiver.CheckRunningApplicationReceiver" />
        <receiver android:name=".log.receiver.ServerUploadReceiver" />

        <activity
            android:name=".screens.search.SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name=".screens.SearchActivityTest"
            android:label="@string/title_activity_search" >
        </activity>
        <activity android:name=".screens.dish.DishActivity" >
        </activity>
        <activity android:name=".screens.location.LocationActivity" >
        </activity>
        <activity
            android:name=".screens.dish.GridViewActivity"
            android:label="@string/title_activity_hello_grid" >
        </activity>
        <activity
            android:name=".screens.dish.FullSizeImageActivity">
        </activity>
    </application>

</manifest>
